.nav-bar {
    display: flex;
    height:5%;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top:1px;
}

.nav-button {
    background-color: #000000;
    border-radius:25px;
}

.nav-button li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    color:rgb(0, 0, 0);
    margin:10px;
    margin-bottom: 0px;
}

.main-header {
    display: flex;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0px;
    height: 100vh;
    flex-direction: column;
    justify-content:center;
}

.main-header h1 {
    display:flex;
    margin:10px;
    font-family:'Lora', sans-serif;
    color:rgb(182, 182, 164);
    font-size:100px;
}
.main-header h2 {
    display:flex;
    margin:10px;
    font-family:'Lora', sans-serif;
    color:rgb(182, 182, 164);
    font-size:30px;
}

/*Applies to About Me, My Work, My Contacts */
.secondary-header {
    color:beige;
    font-family:'Lora', sans-serif;
    font-size: 40px;
    background-color: black;
    height: 10vh;
    margin-top:3px;
    margin-bottom:3px;
}

.about-me-paragraph {
    font-family:'Lora', sans-serif;
    font-size:25px;
    color:rgb(0, 0, 0);
    background-color: rgb(152, 152, 125);
    display:flex;
}

.w3-button{
    display:flex;
    font-size: 150%;
    float:left;
}

.mywork-buttons{
    display:flex;
    justify-content: center;
}

.secondary-header{
    color:white;
    background-color: black;
    text-align: center;
}

.segments-container{
    height:100vh;
}

.my-work-section{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: black;
}