
.main-header{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin:auto;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 13vh; /* Set the height of the container to the full viewport height */
}

.about-me-section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    background-color:rgb(1, 1, 44)
}

.explore-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: black;
}

